<div class="container-fluid min-vh-100  bg-info" style="font-size: large; background-color: greenyellow;">
    <div class="row min-vh-100 align-items-center">
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header">
                    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Completed Sucessfully</h1>
                </div>
                <div class="card-body">
                    <h3 class="text-center">Thank you for taking the test.</h3>
                    <h3 class="text-center">You have Scored {{score}} out of {{maxScore}}</h3>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" (click)="leaveBtnClickEventHandler();" style="font-size: larger;">Leave</button>
                </div>
            </div>
        </div>
    </div>
</div>
