<div class="container-fluid min-vh-100  bg-info" style="background: greenyellow;">
    <div class="row min-vh-100 align-items-center">
        <div class="offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header">
                    
                    <h1>Instructions for the exam</h1>
                </div>
               
                <h3>Read the following instructions carefully.</h3>
                <div class="card-body">
                    <ol>
                        
                        <li>Exam has total 10 questions.</li>
                        <br>
                        <li>All questions are important.</li>
                        <br>
                        <li>Total time for exam is 30 minutes.</li>
                        <br>
                        <li>There is no negetive marking.</li>
                        <br>
                    </ol>
                    <h3 class="text-center">All The Best.</h3>
                </div>
                <div class="card-footer text-right">
                    <button class="btn btn-primary" (click)="startBtnClickEventHandler();">Start Test</button>
                </div>
            </div>
        </div>
    </div>
</div>
